.tabmenu_container {
  width: 100%;
  position: fixed;
  z-index: 9999;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 12px 50px 0 rgba(0, 0, 0, 0.15);
  background-color: #fff;

  @media screen and (min-width: 600px) {
    display: none;
  }

  .tabmenu_content {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .tabmenu_list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      a {
        display: flex;
        width: 23%;
        flex-direction: column;
        justify-content: flex-end;
        padding: 5px;
        text-align: center;
        color: #000;
        font-size: 13px;
        opacity: 0.5;
        &.active {
          opacity: 1;
        }
        img {
          width: 1.5rem;
          height: 30px;
          object-fit: contain;
          margin: 0 auto;
          margin-bottom: 1px;
        }
      }
    }
  }
}
