.transfer_verified_account {
  width: 70%;
  margin: 0 auto;
  text-align: center;

  img {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    object-fit: cover;
  }

  .verify_actions_btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
