.button {
  width: 100%;
  height: 42px;
  text-align: center;
  font-family: Sailec;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;

  &:disabled {
    opacity: 0.3;
    cursor: none;
    &:hover {
      transform: unset;
    }
  }
}

.btn_dashboard {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  background-color: white;
  padding: 10px 1rem;
}

.btn_colored {
  background-color: var(--color-primary);
  color: #fff;
  &:hover {
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    transform: translateY(-5px);
  }
}
