.dashboard_security {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;

    .password_security_change,
    .transaction_options {
        width: 50%;
        padding: 0 3rem;
    }

    input {
        padding: 19px 15px;
        width: 60%;
        margin-top: 18px;
        border-radius: 7px;
        border: 1px solid #ccc;
        outline: none;
        font-size: 1.1rem;
    }

    button {
        width: 50%;
        margin-top: 1rem;
    }


}

.security-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 3rem;

    .two_fa {
        width: 40%;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 20rem;
        transition: all 0.6s;
        text-align: center;
        margin-bottom: 20px;
        box-shadow: 26px 4px 6px rgba(50, 50, 93, 0.11), 1px 1px 23px rgba(0, 0, 0, 0.08);
        cursor: pointer;
        padding: 2rem;

        button {
            width: 100%;
        }

        p {
            width: 80%;
            font-size: 13px;
        }

        &:hover {
            transform: translateY(2px);

        }

        img {
            height: 100px;
            width: auto;
        }
    }
}

@media screen and (max-width:600px) {
    .dashboard_security {
        flex-direction: column;

        .password_security_change,
        .transaction_options {
            width: 100%;
            margin-bottom: 2rem;
            padding: 0 1rem;
        }

        input {
            width: 100%;
        }

        button {
            width: 100%;
        }
    }

    .security-options {
        flex-direction: column;

        .two_fa {
            width: 100%;
        }
    }
}