@import '~video-react/styles/scss/video-react';

.careers_section {
    overflow: hidden;

    header {
        text-align: center;
        padding: 4% 0;

        h1 {
            font-size: 46px;
            font-family: Sailec;
        }

        p {
            font-family: 18px;
        }

        background-image: url('../../assets/images/contact_bg.jpg');
        background-size: cover;
    }

    .careers_info {
        text-align: center;

        h2 {
            font-family: Sailec;
            font-weight: 100;
            font-size: 36px;

            span {
                font-weight: bold;
            }
        }

        p {
            width: 50%;
            margin: 0 auto;
        }

        .video_container {
            width: 60%;
            margin: 4rem auto;
            overflow: hidden;
        }
    }

    .life_info {
        width: 70%;
        margin: 5% auto;

        h2 {
            font-family: Sailec;
            font-weight: 100;
            font-size: 36px;
            text-align: center;
            margin-bottom: 3rem;

            span {
                font-weight: bold;
            }
        }

        .image_container1 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: 365px;
            overflow: hidden;
            box-sizing: border-box;
            margin: 4rem 0;

            .imc_1 {
                width: 49%;
            }

            .imc_2 {
                width: 24%;

                img {
                    margin-bottom: 10px;
                }
            }

            .imc_3 {
                width: 24%;
            }

            img {
                width: 100%;
                height: 365px;
                object-fit: cover;
                box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
            }
        }
    }

    .available_positions {
        width: 75%;
        margin: 0 auto;

        h2 {
            text-align: center;
            font-family: Sailec;
            font-weight: 100;
            font-size: 36px;
            margin-bottom: 2rem;

            span {
                font-weight: bold;
            }
        }

        .btn_positions {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 50%;
            margin: 0 auto;

            @media screen and (max-width:367px) {
                justify-content: center;
            }
        }

        .available_positions_container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin-top: 3rem;

            .position_card {
                width: 32%;
                overflow: hidden;
                margin-bottom: 30px;
                box-sizing: border-box;
                box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
                padding: 1.5rem;

                h3 {
                    font-family: Sailec;
                    font-weight: 600;
                    font-size: 24px;
                    // color: #222222;
                }

                .address {
                    color: #555555;
                    font-size: 15px;
                    margin-top: 15px;
                }

                hr {
                    border: 0.3px solid #EBEBEB;
                    margin: 1.5rem 0;
                }

                .details_info {
                    font-size: 15px;
                    color: #555555;
                }

                .time {
                    color: #999999;
                    font-size: 15px;
                    margin-bottom: 30px;

                    img {
                        margin-bottom: -4px;
                        margin-right: 10px;
                        ;
                    }
                }
            }
        }
    }
}


@media screen and (max-width:600px) {
    .careers_section {
        header {
            h1 {
                font-size: 36px;
            }

            p {
                font-family: 15px;
            }
        }

        .careers_info {
            .video_container {
                width: 100%;
            }

            h2 {
                font-size: 26px
            }

            p {
                width: 90%;
            }
        }

        .life_info {
            width: 85%;

            h2 {
                font-size: 26px
            }

            .image_container1 {
                flex-direction: column;
                height: unset;

                .imc_1,
                .imc_2,
                .imc_3 {
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
        }

        .available_positions {
            width: 90%;

            h2 {
                font-size: 26px;
                width: 70%;
                margin: 2rem auto;
            }

            .btn_positions {
                flex-wrap: wrap;
                width: 80%;

                button {
                    margin-bottom: 10px;
                }
            }

            .available_positions_container {
                .position_card {
                    width: unset;
                }
            }

        }


    }
}