.staff_section_container {
    background-image: url('../../../assets/images/contact_bg.jpg');
    background-size: cover;
}

.staff_section {
    width: 80%;
    margin: 10% auto;

    h1 {
        text-align: center;
        font-size: 36px;
        margin-bottom: 6rem;
        font-family: firma;
    }

    .card_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .card {
            width: 30%;
            padding: 5%;
            // height: 440px;
            box-sizing: border-box;
            box-shadow: 0 12px 50px 0 rgba(0, 0, 0, .25);
            border-radius: 8px;

            img {
                width: 70%;
                height: 100px;
                object-fit: cover;
                border-radius: 50%;
                opacity: 0.7;
                margin: 0 15%;
                margin-bottom: 15px;
            }

            h2 {
                text-align: center;
                font-family: Sailec;
                font-weight: 100;
                font-size: 18px;

                span {
                    font-family: firma-bold;
                    color: rgb(23, 96, 56);

                }
            }

            p {
                text-align: center;
                font-size: 14px;
            }
        }
    }

    .paginate {
        width: 10%;
        margin: 4rem auto;

        span {
            background-color: white;
            padding: 10px;
            border-radius: 50%;
            box-shadow: 0 12px 50px 0 rgba(0, 0, 0, .25);
            cursor: pointer;
        }
    }
}

@media screen and (max-width:600px) {
    .staff_section_container {
        .staff_section {
            h1 {
                font-size: 26px;
            }
        }

        .card_container {
            flex-direction: column;

            .card {
                width: 100%;
                height: unset;
                margin-bottom: 50px;
                padding: 3rem 1rem;

                img {
                    height: 100px;
                    width: auto;
                    margin: 0 30%;
                    text-align: center;
                }

                p {
                    font-size: 13px;
                }
            }
        }

        .paginate {
            display: none;
        }
    }
}