.dashboard_transactions {

    .no_transaction {
        text-align: center;

        img {
            height: 400px;
        }
    }

    .transaction_container {
        width: 95%;
        margin: 0 auto;
        margin-bottom: 5rem;

        .green {
            color: green;
        }

        .red {
            color: red;
        }

        .yellow {
            color: yellow;
        }

        .dark-grey {
            color: darkgrey;
        }

        div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            p {
                width: 20%;
                text-align: center;
            }
        }

        .transaction_item {
            margin-bottom: 10px;
            box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
            transition: all 0.3s;
            cursor: pointer;
            border-radius: 5px;

            &:hover {
                transform: translateX(-10px);
            }

            p {
                border-left: 1px solid black;
            }
        }
    }
}

.refresh_transaction_button {
    background-color: rgba(71, 212, 82, 0.303);
    width: 200px;
    text-align: center;
    font-weight: 500;
    color: #0a2e65;
    font-family: Sailec;
    opacity: 0.8;
    cursor: pointer;
    padding: 10px 15px;
    margin-bottom: 10px;
    transition-property: opacity, background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    border-radius: 8px;
    font-size: 17px;
}

.trans-modal {
    width: 70%;
    top: 4rem;
    right: 15%;
    // background-color: rgba(71, 212, 82, 0.1);
    color: #0a2e65;
}