.section2 {
  padding-bottom: 5rem;
  max-width: 940px;
  margin: 0 auto;
  overflow: hidden;

  @media screen and (max-width: 900px) {
    max-width: 728px;
  }

  .header {
    text-align: center;

    h1 {
      font-family: averta;
      font-size: 2.5rem;

      @media screen and (max-width: 600px) {
        font-size: 1.8rem;
        margin-top: 2rem;
      }
    }

    p {
      font-style: italic;
      margin-top: -1rem;
      opacity: 0.8;
      @media screen and (max-width: 600px) {
        font-size: 13px;
      }
    }
  }

  .flex_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8rem;

    .info {
      width: 45%;
      @media screen and (max-width: 600px) {
        width: 90%;
        margin: 0 auto;
      }
      h2 {
        font-size: 32px;
        @media screen and (max-width: 600px) {
          font-size: 25px;
          text-align: center;
        }
      }
      p {
        font-size: 14px;
      }
    }
    .info_image {
      width: 55%;
      animation: float_normal 10s linear infinite;
      @media screen and (max-width: 600px) {
        width: 90%;
        margin: 20px auto;
      }
      img {
        width: 90%;
        object-fit: cover;
      }
    }
  }

  .sectionA {
    @media screen and (max-width: 600px) {
      flex-direction: column-reverse;
      margin-top: 4rem;
    }
  }

  .sectionB {
    @media screen and (max-width: 600px) {
      flex-direction: column;
      margin-top: 4rem;
    }
  }

  .sectionC {
    @media screen and (max-width: 600px) {
      flex-direction: column-reverse;
      margin-top: 4rem;
    }
  }
}
