.section1 {
    position: relative;
    overflow: hidden;
    height: 50rem;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);

    .info {
        width: 50%;
        padding-top: 12rem;
        padding-left: 6rem;
        z-index: inherit;

        @media screen and (max-width:600px) {
            width: 100%;
            text-align: center;
            padding: 0;
            margin-top: 13rem;
        }

        h1 {
            font-size: 43px;
            font-family: Sailec;
            color: #008080;
            width: 85%;

            @media screen and (max-width:1280px) {
                font-size: 33px;
            }

            @media screen and (max-width:600px) {
                font-size: 25px;
                width: 100%;
            }

            span {
                display: block;
            }
        }

        p {
            font-size: 13px;
            width: 70%;
            opacity: 0.8;

            @media screen and (max-width:1280px) {
                width: 100%;
            }

            @media screen and (max-width:600px) {
                margin: 0 auto;
                width: 85%;
                text-align: center;
            }
        }


        .btn {
            width: 65%;
            margin-top: 2rem;
            margin-bottom: 3rem;
            font-family: Sailec;
            // font-weight: bold;
            font-size: 13px;

            @media screen and (min-width:600px)and(max-width:1280px) {
                width: 80%;
            }

            @media screen and (max-width:600px) {
                margin: 2rem auto;
            }
        }

        // .store {
   //     width: 70%;
   //     position: relative;
   //     display: flex;
   //     flex-direction: row;
   //     justify-content: space-between;

   //     div {
   //         width: 45%;
   //     }

   //     img {
   //         cursor: pointer;
   //         width: 100%;
   //         margin-right: 5px;
   //         height: 20px;
   //     }

   //     @media screen and (max-width:600px) {
   //         width: 100%;
   //         justify-content: center;
   //     }
   // }
    }

    .image_container {
        height: 100vh;
        width: 65%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: -100px;
        object-fit: cover;
        z-index: -999;

        @media screen and (max-width:600px) {
            width: 100%;
            right: 0;
        }

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            transition: none;
            position: absolute;
            top: 0;
            bottom: 0;
            background-image: linear-gradient(to left, transparent, rgba(255, 255, 255, 1));

            @media screen and (max-width:600px) {
                background: rgba(255, 255, 255, 0.8);
            }
        }

        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            transition: none;
            position: absolute;
            height: 16rem;
            bottom: 0;
            background-image: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 1));
        }
    }

    img {
        height: 100%;
    }
}