nav {
  .nav_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1260px;
    width: 100%;
    margin: auto;
    padding: 15px 0;

    .nav_logo img {
      width: 120px;
    }

    .hamburger {
      display: none;
    }

    .nav_item_links {
      margin-left: 40px;
    }

    .nav_item {
      display: inline-block;
      margin-right: 25px;

      a {
        color: black;
        position: relative;
        font-size: 15px;

        .circle {
          display: none;
        }

        &.active,
        &:hover {
          color: #7854f7;

          .circle {
            display: block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #7854f7;
            position: absolute;
            bottom: -12px;
            right: 40%;
          }
        }
      }
    }

    .auth {
      display: inline-block;
      margin-left: 15px;

      .btn {
        width: unset;
        height: 40px;
        color: rgb(255, 255, 255);
        padding: 3px 42px;
        letter-spacing: 0.05rem;
        font-weight: bold;
      }
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 865px) {
  .nav {
    .nav_content {
      max-width: 728px;
      .nav_item {
        margin-left: 40px;
      }

      a {
        font-size: 11px;
      }
    }

    .auth {
      display: inline-block;
      margin-left: 50px;

      button {
        width: 110px;
      }

      a {
        color: white;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .nav {
    .nav_content {
      .nav_logo {
        img {
          width: 9rem;
          margin-top: 5px;
        }
      }
      width: 90%;
      padding-top: 0;
      .hamburger {
        display: block;
      }

      .nav_items {
        display: none;
      }
    }
  }
}
