.nav {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    width: 85%;
    margin: 35px auto;
    margin-top: 15px;
    z-index: 999;

    .hamburger {
        display: none;

    }

    .nav_item {
        display: inline-block;
        margin-left: 50px;

        a {
            color: black;
            position: relative;
            font-weight: bolder;
            font-size: 14px;

            .circle {
                display: none;
            }

            &.active,
            &:hover {
                color: #9D60EB;

                .circle {
                    display: block;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: #9D60EB;
                    position: absolute;
                    bottom: -12px;
                    right: 40%;
                }
            }
        }
    }

    .auth {
        display: inline-block;
        margin-left: 50px;

        a {
            color: white;
        }
    }
}


@media screen and (max-width:600px) {
    .nav {
        .logo {
            img {
                width: 150px;
            }
        }

        .hamburger {
            display: block;
        }

        .nav_items {
            display: none;
        }
    }
}