.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    width: 100%;
    padding: 5px 5%;
    margin: auto;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;

    .hamburger {
        display: none;
    }

    .nav_item {
        display: inline-block;
        margin-left: 50px;

        a {
            color: black;
            position: relative;
            font-weight: bolder;
            font-size: 14px;

            .circle {
                display: none;
            }

            &.active,
            &:hover {
                color: #008080;

                .circle {
                    display: block;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: #008080;
                    position: absolute;
                    bottom: -12px;
                    right: 40%;
                }
            }
        }
    }

    .auth {
        display: inline-block;
        margin-left: 50px;

        .btn {
            height: 3rem;
            width: 200px;
            font-weight: bold;
            font-size: 14px;
        }
    }
}

@media screen and (min-width:600px) and (max-width:865px) {

    .nav {
        .nav_items {
            .nav_item {
                margin-left: 40px;
            }

            a {
                font-size: 11px;
            }
        }

        .auth {
            display: inline-block;
            margin-left: 50px;

            button {
                width: 110px;

            }

            a {
                color: white;
            }
        }
    }
}

@media screen and (max-width:600px) {
    .nav {
        .logo {
            img {
                width: 150px;
            }
        }

        .hamburger {
            display: block;
        }

        .nav_items {
            display: none;
        }
    }
}