.settings_nav {
    display: flex;
    margin-bottom: 3rem;
    margin-top: 3rem;

    @media screen and (max-width:600px) {
        justify-content: center;

    }

    a {
        padding: 10px 30px;
        border-bottom: 1px solid rgba(71, 212, 82, 1);
        ;
        color: #0a2e65;
        opacity: 0.5;
        transition: all 0.3s;

        &.active,
        &:hover {
            opacity: 1;
            border-bottom: 2px solid rgba(71, 212, 82, 1);
        }
    }
}