.section_container {
    background-image: url('../../../assets/images/contact_bg.jpg');
    background-size: cover;

    .process {
        width: 70%;

        margin: 10% auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        div {
            width: 40%;

            h1 {
                font-size: 36px;
                margin-bottom: 0;
                font-weight: 100;
                font-family: firma;
            }

            h2 {
                font-size: 36px;
                font-weight: bold;
                margin: 0;
            }

            p {
                margin: 20px 0;
                font-size: 15px;
            }

            img {
                width: 100%;
                height: 100%;
                opacity: 0.6;
            }
        }
    }

}

@media screen and (max-width:600px) {
    .section_container {
        .process {
            flex-direction: column;

            div {
                width: 100%;
                margin-bottom: 3rem;
            }
        }

        .process_odd {
            flex-direction: column-reverse;
        }
    }


}