.overview_details {
    margin-top: 4rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .item {
        width: 50%;
    }

    .wallet_card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        // background: #fff;
        // background-image: linear-gradient(to right, #1400FF -150%, #FC199B 130%);

        background-color: rgba(71, 212, 82, 0.103);
        box-shadow: -3px 3px 12px rgba(50, 79, 159, 0.13);
        width: 90%;
        height: 15rem;
        border-radius: 5px;
        margin: 0 auto;

        p {
            font-size: 24px;
            font-family: firma-bold;
            color: #0a2e65;
        }
    }

    .btn_fund {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 2rem auto;

        button {
            width: 49%;
            font-size: 1rem;
            height: 60px;
            text-transform: uppercase;
        }
    }

    .funds_control {
        width: 40%;

        button {
            margin-bottom: 20px;
            width: 70%;
            height: 50px;
            font-family: firma-bold;
        }
    }
}