.overview_details {
    margin-top: 4rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .item {
        width: 50%;
    }

    .wallet_card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        // background: #fff;
        background-image: linear-gradient(to bottom, #1400FF -150%, #FC199B 130%);

        // background-color: rgba(71, 212, 82, 0.103);
        box-shadow: -3px 3px 12px rgba(50, 79, 159, 0.13);
        width: 90%;
        height: 12rem;
        border-radius: 5px;
        margin: 0 auto;

        p {
            font-size: 24px;
            font-family: firma;
            color: #fff;
            margin: 0;
        }

        .wallet_text {
            font-size: 14px;
        }


    }

    .btn_fund {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 2rem auto;

        button {
            width: 49%;
            height: 45px;
            text-transform: uppercase;
            font-size: .8rem;
        }
    }

    .funds_control {
        display: flex;
        flex-wrap: wrap;

        div {
            width: 45%;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 7rem;
            transition: all 0.6s;
            margin-bottom: 20px;
            box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            margin-right: 10px;

            &:hover {
                transform: translateX(2px);

            }

            img {
                height: 100px;
            }
        }

        button {
            margin-bottom: 20px;
            width: 70%;
            height: 50px;
            font-family: firma-bold;
        }
    }
}


@media screen and (min-width:600px) and (max-width:1023px) {
    .overview_details {
        flex-direction: column;

        .funds_control {
            div {
                width: 49%;
            }
        }

        .item {
            width: 100%;
        }

        div {
            width: 100%;

        }
    }
}


@media screen and (max-width:600px) {
    .overview_details {
        flex-direction: column;

        .item {
            width: 100%;
        }

        div {
            width: 100%;

        }

        .btn_fund {
            flex-direction: column;

            button {
                width: 100%;
                font-size: 14px;
                margin-bottom: 15px;
            }
        }

        .funds_control {
            flex-direction: column;

            div {
                width: 80%;
                margin: 10px auto;
            }
        }
    }
}