.specific_transaction {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        @media screen and (max-width:600px) {
            font-size: 12px;
        }

        span {
            font-family: Sailec;
            font-weight: bold;
            margin-left: 10px;
        }
    }
}