.login_auth {
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;

  @media screen and (max-width: 690px) {
    height: unset;
  }
}

.auth_image {
  width: 50%;
  object-fit: cover;
  z-index: 999;

  @media screen and (max-width: 690px) {
    display: none;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.auth_form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 690px) {
    width: 100%;
  }
}

.logo {
  text-align: center;
  margin-top: 1rem;
  cursor: pointer;
  position: relative;
  z-index: 999999;
}

.auth_error,
.error_message,
.error {
  color: #fc199b;
  border-radius: 5px;
  width: 100%;
  font-size: 12px;
  font-family: Sailec;
  margin: 0;
}

.error_message {
  text-align: center;
}

.password_icon {
  position: absolute;
  top: 14px;
  cursor: pointer;
  right: 10px;
}

.signup {
  overflow-y: scroll;
}

.signup::-webkit-scrollbar {
  display: none;
}

.form {
  position: relative;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  padding: 0 1.5rem;
  width: 70%;
  margin: 0 auto;

  @media screen and (max-width: 690px) {
    width: 100%;
  }

  h2 {
    color: rgb(73, 153, 109);
    font-family: Sailec;
    text-align: center !important;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1.2;

    @media screen and (max-width: 690px) {
      font-size: 1.3rem;
    }
  }

  .head_info {
    text-align: center;
    color: #6c757d !important;
    margin: 30px auto;
    width: 70%;
    margin-bottom: 2rem;
    font-size: 1rem;

    @media screen and (max-width: 690px) {
      width: 90%;
    }
  }

  .input-container {
    margin-bottom: 2rem;
    position: relative;
  }

  .input-container-dual {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 690px) {
      flex-direction: column;
    }

    div {
      width: 48%;

      @media screen and (max-width: 690px) {
        width: 100%;
        margin-bottom: 13px;
      }
    }
  }

  input,
  select {
    font-size: 15px;
    font-weight: 500;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    display: block;
    width: 100%;
    padding: 15px 1rem;
    line-height: 1.5;
    color: #495057;
    border: 1.6px solid #e8e8e8;
    border-radius: 10px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    @media screen and (max-width: 690px) {
      font-size: 14px;
    }
  }

  input:focus {
    color: #495057;
    outline: none;
  }

  .btn_container {
    text-align: center;
    margin-bottom: 1rem;

    p {
      margin-bottom: 3px;

      @media screen and (max-width: 690px) {
        font-size: 13px;
      }
    }

    button {
      cursor: pointer;
      font-size: 15px;
      margin: 0 auto;
      margin-top: 4px;
      margin-bottom: 3rem;
      color: white !important;
      width: 70%;
      border: none;
      border-radius: 5px;
      padding: 1.4rem 0;
    }

    a {
      color: rgba(0, 0, 0, 0.9);
      margin-left: 10px;
      font-size: 14px;
    }

    p {
      margin: 0 auto;
      text-align: center;
      color: #6c757d !important;
      font-size: 14px;
    }

    div {
      margin-top: 0.5rem;
    }
  }
}
