.dashboard_main {
  box-sizing: border-box;
  width: 100%;
  background-color: #f3f8ff;
  height: 100vh;
  overflow: hidden;

  .main {
    width: 95%;
    margin: 0 auto;

    @media screen and (min-width: 600px) and (max-width: 1023px) {
      max-width: unset;
    }

    .dashboard_nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 20px;
      margin-top: 20px;
      margin-bottom: 0;
      background: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      height: 60px;
      .logo {
        cursor: pointer;
        margin: 0;
        padding: 0;
        align-self: center;
        img {
          width: 130px;
        }

        @media screen and (min-width: 600px) and (max-width: 1023px) {
          display: none;
        }
      }

      .sidenav-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        a,
        .custom_link {
          color: #565656;
          letter-spacing: 0.01rem;
          display: flex;
          align-items: center;
          font-weight: 500;
          box-sizing: border-box;
          border-bottom: 4px solid transparent;
          font-size: 1rem;
          margin: 0 30px;

          //Tablet styling

          @media screen and (min-width: 600px) and (max-width: 1023px) {
            padding: 0;
            margin: 30px auto;

            span {
              display: none;
            }
          }

          img {
            margin-right: 10px;
            width: 15px;
          }

          &.active,
          &:hover {
            border-bottom: 4px solid #7854f7;
          }
        }
      }

      .open_sidenav {
        display: none;
      }

      .dashboard_nav_profile {
        align-self: center;
        display: flex;
        position: relative;
        img {
          border-radius: 50%;
          width: 45px;
          height: 45px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
          object-fit: cover;
          cursor: pointer;
        }

        .dropdown_content {
          visibility: hidden;
          cursor: pointer;
          position: absolute;
          width: 12rem;
          margin-top: 1px;
          background-color: #fff;
          top: -1rem;
          left: -8rem;
          transform: translateY(1.2rem);
          z-index: -1;
          transition: all 0.2s ease-in-out;
          padding: 0.4rem;
          padding-left: 1rem;
          border-radius: 5px;
          box-shadow: 1px 12px 25px rgba(80, 114, 125, 0.5);

          .navcard_actions {
            margin-top: 1rem;
            a,
            p {
              color: #565656;
              letter-spacing: 0.01rem;
              display: flex;
              align-items: center;
              font-weight: 500;
              box-sizing: border-box;
              font-size: 1rem;
              transition: all 0.3s;

              &:hover {
                margin-left: 10px;
              }

              img {
                width: 25px;
                height: 25px;
                margin-right: 10px;
              }
            }
          }
        }

        &:hover {
          .dropdown_content {
            visibility: visible;
            z-index: 1;
            transform: translateY(0%);
          }
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    .menu {
      display: none;
    }

    .main {
      padding: 0;
      .dashboard_nav {
        display: none;
      }
    }
  }

  .title {
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    flex-basis: 100%;
    text-align: center;
    margin: 0;
  }

  .container {
    padding: 0 20px;
  }

  .scroll {
    height: 89.5vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 10rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
  }

  .dashboard_main {
    .container {
      padding: 0;
    }

    .main {
      .dashboard_nav {
        margin: 0 auto;
        width: 95%;
        justify-content: space-between;

        div {
          margin-right: 0;
        }

        .profile_details {
          font-size: 12px;
          margin-bottom: 10px;
        }

        .open_sidenav {
          display: block;
          position: absolute;
          top: 25px;
          left: 30px;
        }

        .mobile {
          display: none;
        }
      }
    }
  }
}

.side_nav {
  transition: all 3s;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
