 .dashboard_main {
     box-sizing: border-box;
     width: 100%;
     display: flex;
     flex-direction: row;
     height: 100vh;
     overflow: hidden;

     .menu {
         width: 17%;
         padding: 2rem;

         .logo {
             cursor: pointer;
         }
     }

     .sidenav {
         margin-top: 5rem;
     }

     .sidenav-menu {
         display: flex;
         flex-direction: column;
         align-items: center;
     }

     .sidenav-list {
         display: flex;
         flex-direction: column;

         a {
             font-weight: 500;
             color: #0a2e65;
             display: flex;
             flex-direction: row;
             align-items: center;
             opacity: 0.8;
             padding: 10px 15px;
             //  margin: 0 auto;
             margin-bottom: 10px;
             //  width: 90%;
             transition-property: opacity, background-color;
             transition-duration: 0.2s;
             transition-timing-function: ease;
             background-color: transparent;
             transition: all 0.4s;
             border-radius: 8px;
             font-size: 17px;

             img {
                 margin-right: 10px;
             }

             //  &:hover,
             //  &.active {
             //      background-image: linear-gradient(to right, #1400FF -150%, #FC199B 130%);
             //      opacity: .9;
             //      color: #fff;
             //  }

             &.active,
             &:hover {
                 opacity: .9;
                 background-color: rgba(71, 212, 82, 0.103);
                 transform: translateY(-3px);
                 //  color: #fff;
             }
         }
     }


     .main {
         flex-basis: 86%;
         max-width: 86%;
         padding: 0;
         //  background-color: #fff;
         box-shadow: -3px 3px 12px rgba(50, 79, 159, 0.13);

         .dashboard_nav {
             display: flex;
             flex-direction: row;
             align-items: center;
             justify-content: flex-end;
             padding-top: 1rem;
             margin-bottom: 2rem;


             div {
                 margin-right: 50px;

                 .bell {
                     cursor: pointer;
                 }
             }

             .open_sidenav {
                 display: none;

             }

             .profile_details {
                 display: flex;
                 flex-direction: row;
                 align-items: center;
                 font-size: 1rem;
                 font-family: firma;

                 .img {
                     border-radius: 50%;
                     width: 40px;
                     height: 40px;
                     object-fit: cover;
                     margin-right: 15px;
                 }

                 .bell {
                     cursor: pointer;
                     margin-right: 8px;
                 }
             }

         }
     }

     @media screen and (max-width:600px) {
         .menu {
             display: none;
         }

         .main {
             flex-basis: 100%;
             max-width: 100%;
             padding: 0;
         }
     }


     .title {
         font-size: 0.8rem;
         font-weight: 600;
         text-transform: uppercase;
         letter-spacing: 1px;
         flex-basis: 100%;
         text-align: center;
         margin: 0;
     }

     .container {

         padding: 20px 25px 0;
     }

     .scroll {
         height: 89.5vh;
         overflow-y: scroll;
         overflow-x: hidden;
         padding-bottom: 10rem;
         scroll-behavior: smooth;
         box-sizing: border-box;
     }
 }


 @media screen and (max-width:600px) {
     .dashboard_main {
         .container {
             padding: 0;
         }

         .main {
             .dashboard_nav {
                 margin: 0 auto;
                 width: 95%;
                 justify-content: space-between;
                 flex-direction: column-reverse;
                 align-items: flex-end;

                 div {
                     margin-right: 5%;
                 }


                 .open_sidenav {
                     display: block;
                     position: absolute;
                     top: 25px;
                     left: 30px;
                 }

                 .profile_details {
                     font-size: 12px;
                     //  margin-right: 3rem;
                     margin-bottom: 10px;

                     .bell {
                         margin-right: 23px;
                     }

                     .img {
                         margin-right: 5px;
                     }
                 }

                 .mobile {
                     display: none;
                 }
             }
         }
     }
 }


 .side_nav {
     transition: all 3s;
 }