.dashboard_main {
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;

  .main {
    width: 100%;

    @media screen and (min-width: 600px) and (max-width: 1023px) {
      max-width: unset;
    }

    .dashboard_nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0.7rem 3rem;
      position: fixed;
      top: 0;
      width: 100%;
      margin-bottom: 0;
      background: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      z-index: 1;
      .logo {
        cursor: pointer;
        margin: 0;
        padding: 0;
        width: 10rem;
        display: flex;
        justify-content: center;
        img {
          width: 130px;
        }
      }

      .nav-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 30rem;
        a,
        .custom_link {
          color: #565656;
          letter-spacing: 0.01rem;
          display: flex;
          align-items: center;
          font-weight: 500;
          box-sizing: border-box;
          font-size: 1rem;
          opacity: 0.6;

          //Tablet styling
          @media screen and (max-width: 750px) {
            display: none;
          }

          img {
            margin-right: 10px;
            height: 1.5rem;
          }

          &.active {
            color: var(--color-dashboard-active);
            opacity: 1;
          }
        }
      }

      .open_sidenav {
        display: none;
      }

      .dashboard_nav_profile {
        display: flex;
        justify-content: center;
        width: 10%;
        position: relative;
        img {
          border-radius: 50%;
          width: 45px;
          height: 45px;
          object-fit: cover;
          cursor: pointer;
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    .menu {
      display: none;
    }

    .main {
      padding: 0;
      .dashboard_nav {
        display: none;
      }
    }
  }

  .title {
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    flex-basis: 100%;
    text-align: center;
    margin: 0;
  }

  .dashboard_content {
    margin-top: 6rem;
    h1 {
      font-size: 1.5rem;
      letter-spacing: 0.3px;
      line-height: 34px;
      text-align: center;
      @media screen and (max-width: 600px) {
        font-size: 1.3rem;
      }
    }

    main {
      box-sizing: border-box;
      width: 40rem;
      margin: 0 auto;
      margin-top: 6rem;
      @media screen and (max-width: 600px) {
        width: 90%;
        padding: 0 5px;
        margin-top: 4rem;
        padding-bottom: 5rem;
        overflow: scroll;
      }
    }
    @media screen and (max-width: 600px) {
      margin-top: 1rem;
    }
  }
}

.side_nav {
  transition: all 3s;
}

.empty_state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  img {
    height: 15rem;
    margin: 0 auto;
  }
  p {
    text-align: center;
  }

  button {
    width: 40%;
    margin: 0 auto;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
