.parent_section {
  padding: 4rem 0;
  h1 {
    font-family: averta;
    font-size: 2.5rem;
  }

  .content_bg {
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    width: 60%;
    margin: 0 auto;
    padding: 2rem 1.2rem;
    border-radius: 15px;
    margin-bottom: -10rem;
    background-color: #24292e;

    h3,
    h1 {
      font-family: averta;
      color: #008080;
      text-align: center;
      margin: 2rem 0;
      margin-top: 1rem;
    }

    p {
      font-size: 14px;
      width: 70%;
      margin: 0 auto;
      opacity: 1;
      color: white;
      text-align: center;
      letter-spacing: unset;
    }
  }
}

.section_other {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  max-width: 960px;
  margin: 3rem auto;

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }

  div {
    width: 32%;
    text-align: center;

    @media screen and (max-width: 600px) {
      width: 100%;
    }

    img {
      height: 200px;
      width: 200px;
      margin: 0 auto;
      animation: float_normal 15s linear infinite;
    }

    h3 {
      color: #008080;
      margin: 0;
      letter-spacing: 0.7px;
    }

    p {
      font-weight: 600;
      opacity: 0.5;
      line-height: 30px;
      font-size: 12px;
    }
  }
}
