.parent_section {
  padding: 4rem 0;
  background: linear-gradient(
    180deg,
    rgba(236, 240, 253, 0) 0%,
    rgba(236, 240, 253, 0.53) 14.32%,
    #ecf0fd 45.83%,
    rgba(236, 240, 253, 0.43) 84.33%,
    rgba(236, 240, 253, 0) 100%
  );
  h1 {
    font-family: averta;
    font-size: 2.5rem;
  }

  .content_bg {
    box-shadow: 0px 10px 40px rgba(120, 84, 247, 0.2);
    position: relative;
    width: 60%;
    margin: 0 auto;
    padding: 2rem 1.2rem;
    border-radius: 15px;
    margin-bottom: -15rem;
    background-color: #fff;
    z-index: 99;

    @media screen and (max-width: 900px) {
      width: 80%;
    }

    @media screen and (max-width: 690px) {
      width: 95%;
    }

    h3,
    h1 {
      font-family: averta;
      text-align: center;
      margin: 2rem 0;
      margin-top: 1rem;
    }

    p {
      font-size: 14px;
      width: 70%;
      margin: 0 auto;
      opacity: 0.7;
      text-align: center;
      @media screen and (max-width: 690px) {
        width: 95%;
      }
    }
  }
}

.section_other {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 13rem;
  width: 90%;
  max-width: 1260px;
  margin: 0 auto;
  margin-bottom: 6rem;

  @media screen and (max-width: 900px) {
    max-width: 728px;
  }

  @media screen and (max-width: 690px) {
    flex-direction: column;
  }

  div {
    width: 32%;
    text-align: center;

    @media screen and (max-width: 690px) {
      width: 90%;
    }

    img {
      height: 230px;
      width: 230px;
      margin: 0 auto;
      margin-bottom: 2px;
      animation: float_normal 15s linear infinite;
    }

    h3 {
      // color: #008080;
      margin: 0;
      letter-spacing: 0.7px;
    }

    p {
      font-weight: 600;
      opacity: 0.5;
      line-height: 30px;
      font-size: 12px;
    }
  }

  .secure_payments_container {
    margin-top: -20rem;
    @media screen and (max-width: 690px) {
      margin-top: unset;
    }
  }
}
