.section_container {

    background-size: cover;

    .process {
        width: 70%;

        margin: 10% auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        div {
            width: 40%;

            h1 {
                font-size: 36px;
                margin-bottom: 0;
                font-weight: 100;
                font-family: firma;
            }

            h2 {
                font-size: 36px;
                font-weight: bold;
                margin: 0;
            }

            p {
                margin: 20px 0;
                font-size: 15px;
            }

            img {
                width: 100%;
                height: 100%;
                opacity: 0.6;
            }
        }
    }

}


//Tablet styling

@media screen and (min-width:600px) and (max-width:1200px) {
    .section_container {
        .process {
            width: 80%;

            div {
                width: 45%;

                h1,
                h2 {
                    font-size: 30px;
                }

                p {
                    font-size: 13px;
                }
            }
        }
    }
}


//Mobile Styling
@media screen and (max-width:600px) {
    .section_container {
        .process {
            flex-direction: column;

            div {
                width: 100%;
                margin-bottom: 3rem;
                text-align: center;

                h1 {
                    font-size: 28px;
                }

                h2 {
                    font-size: 26px;
                }

                p {
                    font-size: 13px;
                }
            }
        }

        button {
            width: 100%;
        }

        .process_odd {
            flex-direction: column-reverse;
        }
    }

}