.card_content {
    width: 50%;
    margin: 5% auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
        height: 350px;
    }

    p {
        font-family: Sailec;
        font-weight: bold;
        width: 80%;
        text-align: center;
    }
}


@media screen and (max-width:600px) {
    .card_content {
        width: 90%;
        margin-top: 30vh;

        img {
            height: 100px;
        }

        p {
            width: 100%;
        }
    }
}