@font-face {
  font-family: firma-bold;
  src: url(./assets/fonts/br-firma/BRFirmaCW-Bold.woff2);
}

@font-face {
  font-family: firma;
  src: url(./assets/fonts/br-firma/BRFirmaCW-Regular.woff2);
}

@font-face {
  font-family: Sailec;
  src: url(./assets/fonts/sailec/Sailec-Regular.woff2);
}

@font-face {
  font-family: averta;
  src: url(./assets/fonts/avenir/AvenirLTStd-Medium.otf);
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: -0.7px;
  line-height: 1.25;
  margin-bottom: 0.7em;
  font-family: firma;
}

a {
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
}

a,
p {
  font-family: Sailec;
}

p {
  font-weight: 600;
  line-height: 30px;
  @media screen and (max-width: 690px) {
    font-size: 13px;
    text-align: center;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  color: #333;
  font-size: 16px;
  line-height: 22px;
}

button {
  background-color: linear-gradient(178.18deg, #fd749b -13.56%, #281ac8 158.3%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.modal_error {
  font-family: Sailec;
  margin-bottom: 1rem;
  font-size: 10px;
  color: rgb(110, 16, 63);
}

@keyframes sparkle {
  0% {
    transform: scale(0.8);
    opacity: 0.5;
  }

  25% {
    transform: scale(0.9);
    opacity: 0.9;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }

  75% {
    transform: scale(0.9);
    opacity: 0.9;
  }

  100% {
    transform: scale(0.8);
    opacity: 0.5;
  }
}

@keyframes float_normal {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}
