:root {
  --color-primary: #7854f7;
  --color-background: #f3f8ff;
  --color-supplementary: #48d38a;
  --color-modal-backdrop: rgba(246, 242, 243, 0.7);
  --color-error: #fc199b;
  --color-dashboard-active: #7854f7;
}

@font-face {
  font-family: firma-bold;
  src: url(./assets/fonts/br-firma/BRFirmaCW-Bold.woff2);
}

@font-face {
  font-family: firma;
  src: url(./assets/fonts/br-firma/BRFirmaCW-Regular.woff2);
}

@font-face {
  font-family: Sailec;
  src: url(./assets/fonts/sailec/Sailec-Regular.woff2);
}

@font-face {
  font-family: averta;
  src: url(./assets/fonts/avenir/AvenirLTStd-Medium.otf);
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: -0.7px;
  line-height: 1.25;
  margin-bottom: 0.7em;
  font-family: firma;
}

a {
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

a,
p,
label {
  font-family: Sailec;
}

p {
  font-weight: 600;
  line-height: 30px;
  @media screen and (max-width: 690px) {
    font-size: 13px;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  margin: 0 auto;
  color: #333;
  font-size: 16px;
  line-height: 22px;
}

label {
  font-size: 10px;
}

button {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}

input,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  padding: 5px 10px;
  font-size: 1rem;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
  font-family: Sailec;
  margin-top: 10px;
  border-radius: 5px;

  @media screen and (max-width: 600px) {
    font-size: 16px;
    padding: 0.5rem 10px !important;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.modal_error {
  font-family: Sailec;
  margin-bottom: 1rem;
  font-size: 10px;
  color: rgb(110, 16, 63);
}

@keyframes sparkle {
  0% {
    transform: scale(0.8);
    opacity: 0.5;
  }

  25% {
    transform: scale(0.9);
    opacity: 0.9;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }

  75% {
    transform: scale(0.9);
    opacity: 0.9;
  }

  100% {
    transform: scale(0.8);
    opacity: 0.5;
  }
}

@keyframes float_normal {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}
