.solution_header {
    margin: 0 auto;
    text-align: center;
    padding-top: 9rem;
    position: relative;
    z-index: 11;

    h1 {
        font-size: 46px;
        font-weight: 800;
        margin-bottom: 0;
        padding: 0;
    }

    .h2 {
        font-size: 43px;
        margin-top: -10px;
        padding: 0;
        margin-bottom: 2rem;
        font-weight: 100;
        font-family: firma;
    }

    .solution_text {
        width: 40%;
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    span {
        color: #FC199B;
        font-family: Sailec;
    }

    form {
        display: flex;
        width: 40%;
        margin: 40px auto;
        max-width: 700px;
        justify-content: space-between;
        background: #fff;
        padding: .1rem;
        box-shadow: 0 12px 50px 0 rgba(0, 0, 0, .25);
        border-radius: 5px;

        @media screen and (max-width:600px) {
            flex-direction: column;
            width: 90%;
            margin: 0 auto;
            padding: unset;
        }

        .form-group {
            margin-bottom: 0;
            width: 70%;
        }

        input {
            padding: 4px .75rem;
            width: 100%;
            border: none;
            line-height: 3;
            font-size: 16px;

            @media screen and (max-width:600px) {
                width: 100%;
                margin-bottom: 10px;
            }

            &:focus {
                outline: none;
            }
        }

        button {
            font-weight: 400;
            padding: .1rem 2rem;
            height: 50px;
            align-self: center;
            margin-right: 5px;
            border-radius: 5px;
            background: linear-gradient(to right, #1400FF -150%, #FC199B 130%);
            color: #fff;
            border: none;
            width: 180px;
            max-width: 250px;
            cursor: pointer;
            font-size: 16px;
            transition: all 0.3s;

            &:hover {
                background-color: rgba(10, 22, 54, 0.93);
            }

            @media screen and (max-width:600px) {
                width: 95%;
                max-width: unset;
                margin-bottom: 10px;
                font-weight: bold;
                font-family: Sailec;
            }
        }
    }
}

.header_image {
    width: 100%;
    object-fit: cover;
    margin-top: -40%;
    z-index: -1;
    opacity: 0.7;
}

//====Responsiveness

//Small Laptop/desktop styling

@media screen and (min-width: 1000px) and (max-width:1200px) {
    .solution_header {

        h1 {
            font-size: 40px;
        }

        .h2 {
            font-size: 37px;
        }

        .solution_text {
            font-size: 13px;
        }
    }
}

// Tablet Styling

@media screen and (min-width:600px) and (max-width:1000px) {
    .header_image {
        display: none;
    }

    .solution_header {
        background-image: url('../../../../assets/images/back.png');
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 12rem;
        margin-top: 6.5rem;

        h1 {
            font-size: 33px;
            width: 80%;
            text-align: center;
            margin: 0 auto;
        }

        .h2 {
            font-size: 30px;
            width: 80%;
            margin-top: 1px;
            margin-left: auto;
            margin-right: auto;
        }

        .solution_text {
            width: 65%;
            font-size: 15px;

        }

        .get-started {
            width: 100%;
            margin: 8% auto;

            form {
                width: 55%;

                .form-group {
                    width: 90%;
                }

                input {
                    padding: 0 inherit;
                    border-radius: 5px;
                }

                button {
                    margin-right: 0;
                }
            }
        }
    }
}


// Mobile Styling

@media screen and (max-width:600px) {
    .header_image {
        display: none;
    }

    .solution_header {
        background-image: url('../../../../assets/images/back.png');
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 30rem;
        margin-top: 6.5rem;

        h1 {
            font-size: 30px;
            width: 80%;
            text-align: center;
            margin: 0 auto;
        }

        .h2 {
            font-size: 23px;
            width: 80%;
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;
        }

        .solution_text {
            width: 90%;
            font-size: 13px;

        }

        .get-started {
            width: 95%;
            margin: 8% auto;

            form {

                .form-group {
                    width: 100%;
                }

                input {
                    padding: 0 inherit;
                    border-radius: 5px;
                }

                button {
                    margin-right: 0;
                }
            }
        }
    }
}