.profile-settings-section {
  padding: 2rem;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);

  .profile_image_handler {
    width: 30%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
      visibility: hidden;
    }

    img {
      width: 120px;
      height: 120px;
      margin: 0 auto;
      object-fit: cover;
      border-radius: 50%;
      cursor: pointer;
    }

    button {
      margin-top: -2rem;
    }
  }

  .user_profile_details {
    width: 60%;
    margin: 3rem auto;

    span {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
      font-family: firma;
      font-size: 0.9rem;
    }

    .input_container {
      margin-bottom: 1rem;
    }

    input {
      font-size: 13px;
      height: 3rem;
    }

    label {
      font-size: 13px;
    }

    button {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1000px) {
  .profile-settings-section {
    flex-direction: column;

    .profile_image_handler {
      margin: 2rem auto;

      input {
        width: 95%;
      }
    }

    .user_profile_details {
      width: 90%;
      margin: 2rem auto;
    }
  }
}
